<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Hazard Classifier
    </title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <h1>About Health Hazard Calculator</h1>
    </header>
    <br>
<div class = "form-container">
<p class = "h2">
    This calculator is built upon the Globally Harmonized System of Classification and 
    Labelling of Chemicals (<a href="https://unece.org/transport/dangerous-goods/ghs-rev10-2023">GHS Rev. 10, 2023</a>) as produced by the United Nations.
    <br>
    This calculator uses the harmonized criteria for classifying mixtures according to their health hazards along with their required hazard communication elements such as pictograms and H-statements.
    <br>
    As mentioned in GHS Rev. 10, 2023, if a complete mixture has actual test data available, the classification of the mixture should always be based on that data.
    <br>
    If test data is not available, bridging principles or specific calculations may be applied, giving an estimation of the different health hazards as documented in Part 3 of GHS Rev. 10, 2023.
    <br>
    <br>
    <b>Note: This calculator is a general guide exclusively using the calculations and thresholds provided in the GHS. It does not replace expert judgement and does not account for specific thresholds provided by <a href = "https://echa.europa.eu/en/home">ECHA</a> or similar chemical agencies.
    <br>
        Always carefully read the SDS in full, as specific hazards not covered here may be raised.</b>
    <br>
    <br>
    <b>
    Click on the buttons below for specific calculations for the various health hazards</b>
    <br>
    </b>
    <a href="{{ url_for('acutetoxicity') }}" class="button3">Acute Toxicity</a>
    <br>
    <a href="{{ url_for('eyeandskin') }}" class="button3">Eye and Skin Irritation / Corrosion</a>
    <br>
    <a href="{{ url_for('carcmutarepr') }}" class="button3">Carcinogenicity, Mutagenicity, Reproductive Toxicity and Sensitization</a>
    
</p>
</div>
<a href="{{ url_for('index') }}"><p class = "button2">Home</p></a>
</body>