<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hazard Classification Results</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
    
<body>
    <header>
        <h1>Health Hazard Calculator</h1>
    </header>
    <br>
    <a href="{{ url_for('about') }}"><p class = "button2">About</p></a>

    <form method="POST">

        <br>
        <div class = "form-container">
        <p>
            <h2>
            Add your ingredients one-by-one. Click "Add Component" when you have input the necessary data
            </h2></p>
        <div class="input-row">
            
            <label>Name:
                <input type="text" name="name">
            </label>
    
            <label>Percentage (w/w%):
                <input type="text" name="percentage">
            </label>
    
            <label>Concentration (mM):
                <input type="text" name="mM">
            </label>
    
            <label>Concentration (M):
                <input type="text" name="M">
            </label>
    
            <label>Molar Mass (g/mol):
                <input type="text" name="molarmass">
            </label>

        </div>
        <hr>
        <br>
        <label for="Acute Oral Toxicity"><b>Acute Oral Toxicity:</b></label>
        <select id="acute_toxicity_oral" name="acute_toxicity_oral">
            <option value="">Not Classified</option>
            <option value=1>Category 1</option>
            <option value=2>Category 2</option>
            <option value=3>Category 3</option>
            <option value=4>Category 4</option>
        </select>
        <br><br>
        <label for="Acute Dermal Toxicity"><b>Acute Dermal Toxicity:</b></label>
        <select id="acute_toxicity_dermal" name="acute_toxicity_dermal">
            <option value="">Not Classified</option>
            <option value=1>Category 1</option>
            <option value=2>Category 2</option>
            <option value=3>Category 3</option>
            <option value=4>Category 4</option>
        </select><br><br>
        <label for="Acute Inhalation Toxicity (gases)"><b>Inhalation Toxicity (gases):</b> </label>
        <select id="acute_toxicity_inhalation_gases" name="acute_toxicity_inhalation_gases">
            <option value="">Not Classified</option>
            <option value=1>Category 1</option>
            <option value=2>Category 2</option>
            <option value=3>Category 3</option>
            <option value=4>Category 4</option>
        </select><br><br>
        <label for="Acute Inhalation Toxicity (vapours)"><b>Inhalation Toxicity (vapours):</b></label>
        <select id="acute_toxicity_inhalation_vapours" name="acute_toxicity_inhalation_vapours">
            <option value="">Not Classified</option>
            <option value=1>Category 1</option>
            <option value=2>Category 2</option>
            <option value=3>Category 3</option>
            <option value=4>Category 4</option>
        </select><br><br>
        <label for="Acute Inhalation Toxicity (mist/dust)"><b>Inhalation Toxicity (mist/dust):</b></label>
        <select id="acute_toxicity_inhalation_mist" name="acute_toxicity_inhalation_mist">
            <option value="">Not Classified</option>
            <option value=1>Category 1</option>
            <option value=2>Category 2</option>
            <option value=3>Category 3</option>
            <option value=4>Category 4</option>
        </select><br><br>
        <label for="mutagenicity"><b>Mutagenicity:</b></label>
        <select id="mutagenicity" name="mutagenicity">
            <option value="">Not Classified</option>
            <option value="1A">1A</option>
            <option value="1B">1B</option>
            <option value="2">2</option>
        </select><br><br>
        <label for="Carcinogenicity"><b>Carcinogenicity:</b></label>
        <select id="carcinogenicity" name="carcinogenicity">
            <option value="">Not Classified</option>
            <option value="1A">1A</option>
            <option value="1B">1B</option>
            <option value="2">2</option>
        </select><br><br>
        <label for="Reproductive Toxicity"> <b>Reproductive Toxicity:</b></label>
        <select id="reproductive_toxicity" name="reproductive_toxicity">
            <option value="">Not Classified</option>
            <option value="1A">1A</option>
            <option value="1B">1B</option>
            <option value="2">2</option>
        </select><br><br>
        <label for="skin_sensitizer"><b>Skin Sensitization:</b></label>
        <select id="skin_sensitizer" name="skin_sensitizer">
            <option value="">Not Classified</option>
            <option value="1">1</option>
            <option value="1A">1A</option>
            <option value="1B">1B</option>
        </select><br><br>
        <label for="respiratory_sensitizer"><b>Respiratory Sensitization:</b></label>
        <select id="respiratory_sensitizer" name="respiratory_sensitizer">
            <option value="">Not Classified</option>
            <option value="1">1</option>
            <option value="1A">1A</option>
            <option value="1B">1B</option>
        </select><br><br>
        <label for="STOT SE"><b>Target Organ Toxicity (single exposure)*:</b> </label>
        <select id="stotse" name="stotse">
            <option value="">Not Classified</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select><br><br>
        <label for="STOT RE"><b>Specific Target Organ Toxicity (repeated exposure)*</b></label>
        <select id="stotre" name="stotre">
            <option value="">Not Classified</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select><br><br>
        <label for="skin"><b>Skin Corrosion / Irritation:</b></label>
        <select id="skin" name="skin">
            <option value="">Not Classified</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br><br>
        <label for="eye"><b>Eye Damage / Irritation:</b></label>
        <select id="eye" name="eye">
            <option value="">Not Classified</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <div>
            <hr>
            <p class = "h2">
                For including a registry search in your calculations, add the CAS number. NOTE: YOU MUST ADD THE REGISTRY SEARCH FUNCTIONALITY YOURSELF!
                <br> A registry search will be performed to confirm whether your mixture contains these compounds:
            </p>
            
            <div class="form-group">
                <label for="cas"><b>CAS Number:</b></label>
                <input type="text" id="cas" name="CAS" class="form-control" placeholder="Enter CAS number here">
            </div>
            <hr>
        </div>

        <div class="button-row">
            <button type="submit" name="action" value="add">Add Component</button>
            <button type="submit" name="action" value="fillwcomps">Fill Solution with Component</button>
            <button type="submit" name="action" value="fill">Fill Aqueous solution</button>
        </div>
        
        </div>
    </form>

    <br>
    <div class = "button-row">

    <script id="components-data" type="application/json">
        {{ components | tojson }}
    </script>
    

    <script src="/static/scripts.js"></script>
    <br>
    <button id="calculate-btn" type="button" onclick="handleCalculate()"><h3>Calculate</h3></button>
    </div>
    <br>
    <div class = "form-container2">
        <h2>Components</h2>
        <hr>
        <table class="components-table">
          <thead>
            <tr>
              <th>Components</th>
              <th>Percentage (w/w%)</th>
            </tr>
          </thead>
          <tbody>
            {% for component in components %}
            <tr>
              <td>{{ component.name }}</td>
              <td>{{ component.percentage }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
      
    <div id="error-popup" class="error-popup">
        Total percentage must be 100%
      </div>

    <br>
    <div class = "button-row">
    <form 
        action="/reset" method="POST">
        <button type ="submit">Reset</button>
    </form>
    <form 
        action="/Delete" method = "POST">
        <button type = "submit">Delete last component</button>
    </form>
    </div>
</body>
</html> 

